@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
	font-family: 'Squada One';
	src: url('./fonts/SquadaOne-Regular.ttf');
}


*,
*::before,
*::after {
	box-sizing: border-box;
}


* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}


p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
